@import "../../Sass/mixin";
@import "../../Sass/variables";

.signin-container {
  width: 100%;
  height: 100vh;
  &-content2 {
    width: 100vw;
    height: 100vh;
    background-image: url("./../../assets/signInContainer.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    // background-size: 100vh;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box1 {
      & > h1 {
        font-family: "Lato";
        font-weight: 700;
        font-size: 2.9rem;
        line-height: 35px;
        text-align: center;
        color: $lightnevi;
      }
      &-content {
        width: 38.7rem;
        height: auto;
        margin: auto;
        margin-top: 29px;
        padding: 2.9rem;
        background-color: white;
        border-radius: 9.675px;
        &-btn {
          padding: 9.675px;
          width: 100%;
          height: 42.35px;
          border: none;
          font-weight: 700;
          font-size: 19.35px;
          line-height: 23px;
          color: white;
          background: $skyshede;
          border-radius: 9.675px;
          cursor: pointer;
        }
        & > p {
          margin-top: 29px;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 20px;
          text-align: center;
          color: $blacktext;
          // @include respond(phone) {
          //   font-size: 1.4rem;
          // }
        }
      }
      &-btnbox {
        width: 38.7rem;
        height: auto;
        padding: 0.5rem 2.9rem;
        // background-color: palevioletred;
        @include respond(phone) {
          padding: 2rem;
        }
        &-continue {
          width: 100%;
          height: auto;
          margin-top: 27px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          //   background-color: aqua;
          & > hr {
            width: 85.87px;
            border: 2px solid $lightnevi;
          }
          & > p {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 140%;
            color: $lightnevi;
          }
        }
        & > button {
          width: 100%;
          padding: 0.7rem 0rem;
          margin-top: 30px;
          border: 1.20938px solid $lightnevi;
          border-radius: 1.5rem;
          background: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
.forgetpass {
  margin-top: -80px;
  float: right;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
  color: $lightnevi;
  text-decoration: none;
}
.plink {
  color: $blue;
  text-decoration: none;
}
.googlelink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 140%;
  color: #343434;
  & > p {
    margin-left: 20px;
  }
  & > img {
    width: 3rem;
    height: 3rem;
  }
}
