@import "../../Sass/mixin";
@import "../../Sass/variables";

// **************************** Responsive container Modal *****************************

.responsive_container {
  background-color: #5c718d71;
  position: fixed;
  inset: 0;
  // width: 100%;
  z-index: 99;
  backdrop-filter: blur(5px);
  display: none;
  @include respond(tab-port) {
    display: block;
  }
  &_content {
    width: 35%;
  }
}

// **************************** Responsive Bar *****************************
.responsive {
  width: 100%;
  height: auto;
  padding: 1.5rem 2rem;
  background-color: white;
  display: none;
  @include respond(tab-port) {
    display: block;
  }
  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.resIcon {
  font-size: 3.5rem;
  color: $lightnevi;
  cursor: pointer;
}
