@import "../Sass/mixin";
@import "../Sass/variables";

.container {
  display: flex;
  &_left {
    width: 17rem;
    height: 100vh;
    // background-color: ;
  }
  &_right {
    height: auto;
    padding: 0.5rem 0rem;
    // background-color: peru;
  }
}
