@import "../Sass/mixin";
@import "../Sass/variables";

// ***************** Responsive Bar *****************************
.responsiveBar {
  width: 100%;
  height: auto;
  background-color: aqua;
  // display: none;
}

// ***************** Desktop View *****************************
.container {
  display: flex;
  &_left {
    // width: 12%;
    height: 100vh;
    @include respond(tab-port) {
      display: none;
    }
  }
  &_right {
  width:88.8%;
    height: auto;
    // background-color: peru;
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
